@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	/* background: #02203f; */
	letter-spacing: 1px;
	font-size: 16px; /* don't change, it's for tailwind.css and rem-based sizes. Should be exaxctly 16px.*/
	letter-spacing: 1px;
}

form.login-form,
form.sign-up-form {
	@apply w-1/3 p-10 m-10 rounded text-center bg-gray-200;
}

form.login-form h2,
form.sign-up-form h2 {
	@apply text-2xl font-bold my-5 mx-auto;
}

form.login-form input,
form.sign-up-form input {
	@apply p-4 m-2 border border-black;
}

.Front {
	font-size: 15px;
	line-height: 1.4em;
	letter-spacing: 1px;
}

.Front p {
	@apply font-light italic;
	opacity: 0.9;
}