@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	letter-spacing: 1px;
	font-size: 15px;
}

h1 {
	@apply text-6xl font-bold underline my-10 mx-auto text-center;
}

form.login-form,
form.sign-up-form {
	@apply w-1/3 p-10 m-10 rounded text-center bg-gray-200;
}

form.login-form h2,
form.sign-up-form h2 {
	@apply text-2xl font-bold my-5 mx-auto;
}

form.login-form input,
form.sign-up-form input {
	@apply p-4 m-2 border border-black;
}
